<a href="https://colab.research.google.com/github/pedrogozzi/Ola-Mundo/blob/main/Python_exercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math
num=float(input('Digite um valor: '))
print('O valor digitado foi {} e sua porção inteira é {}.'.format(num,math.trunc(num)))

Digite um valor: 3.15
O valor digitado foi 3.15 e sua porção inteira é 3.

In [ ]:
from math import trunc
num=float(input('Digite um número: '))
print('O valor digitado foi {} e sua porção inteiraa é {}'.format(num,trunc(num)))

Digite um número: 3.15
O valor digitado foi 3.15 e sua porção inteiraa é 3

In [ ]:
a=float(input('Cateto a é igual a '))
b=float(input('Cateto b é igual a '))
c=((a**2)+(b**2))**(1/2)
print(c)

Cateto a é igual a 3
Cateto b é igual a 4
5.0

In [ ]:
import math
a=float(input('Cateto a é igual a '))
b=float(input('Cateto b é igual a '))
c=math.hypot(a,b)
print('A hipo é {}'.format(c))

Cateto a é igual a 3
Cateto b é igual a 4
A hipo é 5.0

In [ ]:
import math #from math import radians, sin, cos, tan
angulo=float(input('Digite o ângulo: '))
seno=math.sin(math.radians(angulo))
print('O ângulo de {} tem o SENO de {:.2f}'.format(angulo,seno))
cosseno=math.cos(math.radians(angulo))
print('O ângulo de {} tem o cosseno de {:.2f}'.format(angulo,cosseno))
tangente=math.tan(math.radians(angulo))
print('O ângulo de {} tem a tangente de {:.2f}'.format(angulo,tangente))

Digite o ângulo: 30
O ângulo de 30.0 tem o SENO de 0.50
O ângulo de 30.0 tem o cosseno de 0.87
O ângulo de 30.0 tem a tangente de 0.58

In [ ]:
import random
n1=str(input('Primeiro aluno: '))
n2=str(input('Segundo aluno: '))
n3=str(input('Terceiro aluno: '))
n4=str(input('Quarto aluno: '))
lista = [n1,n2,n3,n4]
escolhido = random.choice(lista)
print('O aluno escolhido foi {}'.format(escolhido))

Primeiro aluno: Joao
Segundo aluno: fran
Terceiro aluno: bi
Quarto aluno: tri
O aluno escolhido foi tri

In [ ]:
import random
n1=str(input('Primeiro aluno: '))
n2=str(input('Segundo aluno: '))
n3=str(input('Terceiro aluno: '))
n4=str(input('Quarto aluno: '))
lista = [n1,n2,n3,n4]
random.shuffle(lista)
print('A ordem de apresentação será:')
print(lista)

Primeiro aluno: a
Segundo aluno: b
Terceiro aluno: c.
Quarto aluno: d
A ordem de apresentação será:
['d', 'a', 'c.', 'b']

Análise 
frase.len - mostra quantas letras tem 
frase.count('o') - mostra quantos "o" tem na frase

In [ ]:
frase=("Curso em Vídeo Python")
frase.lower
print(frase)

Curso em Vídeo Python

In [ ]:
frase="Curso em Vídeo Python"
print(frase[::2])

Croe íe yhn

Strings

In [ ]:
nome=str(input('Digite seu nome completo: ')).strip()
print('Analisando seu nome...')
print('Seu nome em maiúsculas é {}'.format(nome.upper()))
print('Seu nome em minúsculas é {}'.format(nome.lower()))
print('Seu nome tem {} letras'.format(len(nome)-nome.count(' ')))
print('Seu primeiro nome tem {} letras'.format(nome.find(' ')))

Digite seu nome completo:   Pedro Gozzi
Analisando seu nome...
Seu nome em maiúsculas é PEDRO GOZZI
Seu nome em minúsculas é pedro gozzi
Seu nome tem 10 letras
Seu primeiro nome tem 5 letras

In [ ]:
num=int(input('Informe um numero: '))
n=str(num)
print('Analisando o numero {}'.format(num))
print('Unidade:{}'.format(n[3]))
print('Dezena:{}'.format(n[2]))
print('centena:{}'.format(n[1]))
print('milhar: {}'.format(n[0]))

Informe um numero: 1234
Analisando o numero 1234
Unidade:4
Dezena:3
centena:2
milhar: 1

In [ ]:
cid=str(input('Em qual cidade você nasceu? ')).strip()
print(cid[:5].upper() == 'SANTO')

Em qual cidade você nasceu? San
False

In [ ]:
nome=str(input('Qual seu nome completo? ')).strip()
print('Seu nome tem silva?{}'.format('silva' in nome.lower()))

Qual seu nome completo? Joâo da Silva
Seu nome tem silva?True

In [ ]:
frase = str(input('Digite uma frase: ')).upper()
letra = str(input('Digite uma letra: ')).upper()
print('A letra '+letra+' aparece {} vezes na frase '.format(frase.count(letra)))
print('A primeira letra '+letra+' aparece na posição {}'.format(frase.find(letra)+1))
print('A última letra '+letra+' aparece na posição {}'.format(frase.rfind(letra)+1))

In [ ]:
n = str(input('Digite seu nome completo: ')).strip()
nome = n.split()
print('Muito prazer em te conhecer!')
print('Seu primeiro nome é {}'.format(nome[0]))
print('Seu primeiro nome é {}'.format(nome[len(nome)-1]))

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")
my_function('Teste')

Emil Refsnes
Tobias Refsnes
Linus Refsnes
Teste Refsnes

In [ ]:
#Exercício 032 - Ano bissexto
ano=int(input('Que ano quer analisar ? '))
if ano % 4 == 0 and ano % 100 != 0 or ano % 400 == 0:
  print('Ano é Bissexto')
else:
  print('O ano não é Bissexto')

Que ano quer analisar ? 2000
Ano é Bissexto

In [ ]:
#Exercício 032 - Ano bissexto
from datetime import date
ano = int(input('Que ano quer analisar? Coloque 0 para analisar o ano atual: '))
if ano == 0:
  ano = date.today().year
if ano % 4 == 0 and ano % 100 != 0 or ano % 400 == 0:
  print('O ano {} é BISSEXTO'.format(ano))
else:
  print('O ano {} NÃO é BISSEXTO'.format(ano))

Que ano quer analisar? Coloque 0 para analisar o ano atual: 0
O ano 2022 NÃO é BISSEXTO

In [ ]:
# Exercício 033 - Maior e menor valores 
v1 = int(input('Digite o primeiro valor :'))
v2 = int(input('Digite o segundo valor :'))
v3 = int(input('Digite o terceiro valor :'))
menor = v1
if v2 <v1 and v2 <v3:
  menor = v2
if v3 <v1 and v3 <v2:
  menor = v3
print (menor)

Digite o primeiro valor :6
Digite o segundo valor :7
Digite o terceiro valor :5
5

In [ ]:
# ex 036

casa = float(input('Valor da casa: R$ '))
salário = float (input('Salário do comprador: R$ '))
anos = int ( input('Quantos anos de financiamento?'))
prestação = casa/(anos*12)
print ('R$ {:.2f}'.format(prestação))
alocacao = prestação/salário*100
print (float(alocacao))

Valor da casa: R$ 120000
Salário do comprador: R$ 12000
Quantos anos de financiamento?10
R$ 1000.00
8.333333333333332

**Condições aninhadas **

É basicamente uma coisa dentro da ontra. 
Estrutura condicional dentro de estrutura condicional

In [ ]:
nome = str(input('Qual é o seu nome? '))
if nome == 'Pedro':
  print ('Que nome bonito!')
elif nome == 'João' or nome == 'Maria':
  print ('Seu nome é normal no Brasil')
elif nome in 'Ana Fabi Mari':
  print ('Que nome feminino')
else:
  print ('Seu nome é normal!')
print ('Tenha um bom dia, {}!'.format(nome))

Qual é o seu nome? Mari
Que nome feminino
Tenha um bom dia, Mari!

`Ex036` - Programa de **financiamento**

In [ ]:
imovel = int(input('Qual é o valor total do imóvel? '))
renda = int(input('Qual sua renda mensal? '))
finanos = int(input('Quantos anos é o financiamento? '))
mensalidadecasa = imovel/(finanos*12)
porcentrenda = mensalidadecasa/renda*100

print ('O valor total do imóvel é R${:.2f} e financiando em {} anos o valor da mensalidade será de R${:.2f}.'.format(imovel,finanos,mensalidadecasa))
print('A sua mensal é de R${:.2f}'.format(renda))
print('Com essas informações, sabemos que você irá compromoter {:.2f}% da sua renda mensal'.format(porcentrenda))


if porcentrenda <= 10:
    print('Parabéns, financiamento aprovado')
elif porcentrenda > 10:
    print('Infelizmente seu financimento não está aprovado')

In [ ]:
num=int(input('Digite um número inteiro: '))

print ('''Escolha para qual você quer converter: 
1 - Binário
2 - Octal
3 - Hexadecimal''')
opção = int(input('Sua opção: '))
if opção ==1:
    print('{} convertido par BINÁrio é igual a {}'.format(num,bin(num)))
elif opção == 2:
    print('{} convertido para OCTAL é igual a {}'.format(num,oct(num)))
elif opção ==3:
    print('{} convertido para HEXADECIMAL é igual a {}'.format(num,hex(num)))
else:
    print('Opção inválida')

Digite um número inteiro: 1
Escolha para qual você quer converter:
1 - Binário
2 - Octal
3 - Hexadecimal
Sua opção: 1
1 convertido par BINÁrio é igual a 0b1

ex038 - Escreva dois numero e compare se é maior, menor ou igual

In [ ]:
n1=int(input('Digite o primeiro número: '))
n2=int(input('Digite o segundo número: '))
if n1 > n2:
  print('O número {} é maior que {}'.format(n1,n2))
elif n2>n1:
  print('O número {} é maior que {}'.format(n2,n1))
else:
  print('Os números são iguais!')

Digite o primeiro número: 5
Digite o segundo número: 5
Os números são iguais!

ex039 - Programa para que de acordo com idade, fale sobre o alistamento militar

In [ ]:
datanascimento = int(input('Digite seu ano de nascimento: '))
idade = 2022 - datanascimento
print(idade)

if idade > 18:
  print('Você já está atrasado no alistamento, terá problemas')
elif idade == 18:
  print('Você está no ano do alistamento militar')
else:
  print('Aproveite, você ainda não precisa se alistar!')

ex040 - Programa para calcular média e aprovação

In [ ]:
n1 = float(input('Qual foi sua nota na primeira prova? '))
n2 = float(input('Qual foi sua nota na segunda prova? '))
media = (n1+n2)/2
print(media)

if media >= 6:
  print('Aprovado')
elif media <6:
  print('recuperação')
else:
  print('reprovado')

ex041
Até 09 - mirim
até 14 - infatil
até 19 - junior
até 20 - Senior
Acima de 20 - master

In [ ]:
from datetime import date
atual=date.today().year
nascimento = int(input('Qual ano de nascimento?'))
idade = atual - nascimento
if idade <= 9:
    print('Mirin')
elif idade <= 14:
    print('Infantil')
elif idade <= 19:
    print('Junior')
elif idade <= 20:
    print('Master')
else:
    print('Senior')

042 - falar se o Triângulo é escaleno, equilatero, escaleno

In [ ]:
a = int(input('Digite o lado "a" do triângulo: '))
b = int(input('Digite o lado "b" do triângulo: '))
c = int(input('Digite o lado "c" do triângulo: '))

if a+b>c and b+c>a and a+c>b:
    print('É um triangulo ',end='')
    if a==b==c:
        print('equilátero')
    if a != b !=c != a:
        print('escaleno')
    else:
        print('isóceles')

else:
    print('Não é um triangulo')

Ex043 - Calculo do IMC

ex044 - Preço financiamento - desc 10% a vista, a vista sem desc, 2x 10% de juros

ex045 - Jokenpô

EX 049 - Tabuada usando while e loop for

In [ ]:
num = int(input('Digite um número para ver sua tabuada: '))
for c in range (1,11):
  print ('{} x {:2} = {}'.format(num, c, num*c))

Digite um número para ver sua tabuada: 5
5 x  1 = 5
5 x  2 = 10
5 x  3 = 15
5 x  4 = 20
5 x  5 = 25
5 x  6 = 30
5 x  7 = 35
5 x  8 = 40
5 x  9 = 45
5 x 10 = 50

EX 050 - Programa que leia seis números inteiros e mostre a soma apenas daqueles que forem pares. Se o valor digitado for ímpar, desconside-o.

In [ ]:
soma = 0
cont = 0
for c in range (1,7):
  num=int(input('Digite o {} valor: '.format(c)))
  if num % 2 == 0:
    soma += num
    cont += 1
print ('Você informou {} números pares e a soma foi {}'.format(cont,soma))

Digite o 1 valor: 2
Digite o 2 valor: 2
Digite o 3 valor: 2
Digite o 4 valor: 3
Digite o 5 valor: 3
Digite o 6 valor: 2
Você informou 4 números pares e a soma foi 8

EX 051 - Crie uma PA e mostre os 10 primeiros termos

In [ ]:
primeiro = int (input('Primeiro termo: '))
razão = int ( input('Razão: '))
décimo = primeiro + (10-1)*razão
for c in range (primeiro,décimo + razão	,razão):
  print ('{} '.format(c), end=' -> ')
print ('Acabou')

Primeiro termo: 25
Razão: 5
25  -> 30  -> 35  -> 40  -> 45  -> 50  -> 55  -> 60  -> 65  -> 70  -> Acabou

Ex 052 -

In [ ]:
num=int(input('Digite um número: '))
tot = 0
for c in range (1,num+1):
  if num % c == 0:
    print ('\033[034m',end='')
    tot += 1
  else:
    print('\033[033m',end='')
  print ('{} '.format(c), end='')
print ('\n\033[mO número {} foi divisível {} vezes'.format(num,tot))
if tot == 2:
  print('E por isso ele É PRIMO!')
else:
  print('E por isso ele NÃO É PRIMO!')

Digite um número: 71
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
O número 71 foi divisível 2 vezes
E por isso ele É PRIMO!

Ex 53 - Digite uma frase e veja se é um palíndromo

In [ ]:
frase = str(input('Digite uma frase: ')).strip().upper()
palavras=frase.split()
junto=''.join(palavras)
inverso=''
for letra in range(len(junto)-1,-1,-1):
  inverso += junto [letra]
print ('O Inverso de {} é {}'.format(junto,inverso))
if inverso == junto: 
  print('Temos um palíndromo!')
else:
  print('A frase digitada não é um palíndromo!')

Digite uma frase: bacon
O Inverso de BACON é NOCAB
A frase digitada não é um palíndromo!

Ex54

In [ ]:
from datetime import date
atual = date.today().year
totmaior = 0
totmenor = 0
for pess in range(1,8):
  nasc = int ( input ('Em que ano a pessoa nasceu? '))
  idade = atual - nasc
  if idade >= 21:
    totmaior += 1
  else:
    totmenor += 1
print('Ao todo tivemos {} pessoas maiores de idade'.format(totmaior))
print('E também tivemos {} pessoas menores de idade'.format(totmenor))

Em que ano a pessoa nasceu? 2000
Em que ano a pessoa nasceu? 2000
Em que ano a pessoa nasceu? 2000
Em que ano a pessoa nasceu? 2000
Em que ano a pessoa nasceu? 2010
Em que ano a pessoa nasceu? 2010
Em que ano a pessoa nasceu? 2010
Ao todo tivemos 4 pessoas maiores de idade
E também tivemos 3 pessoas menores de idade

Ex 55

In [ ]:
maior = 0
menor = 0
for p in range (1,6):
  peso = float(input('Peso da {} pessoa:'.format(p)))
  if p == 1:
    maior = peso
    menor = peso
  else:
    if peso>maior:
      maior = peso
    if peso<menor:
      menor=peso
print('O maior peso lido foi de {}kg'.format(maior))
print('O menor peso lido foi de {}kg'.format(menor))

Peso da 1 pessoa:55
Peso da 2 pessoa:40
Peso da 3 pessoa:30
Peso da 4 pessoa:70
Peso da 5 pessoa:80
O maior peso lido foi de 80.0kg
O menor peso lido foi de 30.0kg

Aula 14 - WHILE - Estrutura de repetição

ex 57 - Validação de dados

In [ ]:
sexo = str(input('Informe seu sexo: [M/F] ')).strip().upper()[0]
while sexo not in 'MmFf':
  sexo = str(input('Dados inválidos, por favor informe seu sexo novamente: ')).strip().upper()[0]
print ('Sexo {} registrado com sucesso'.format(sexo))

Informe seu sexo: [M/F] dasd
Dados inválidos, por favor informe seu sexo novamente: ada
Dados inválidos, por favor informe seu sexo novamente: m
Sexo M registrado com sucesso

Ex 58

In [3]:
from random import randint
computador = randint (0,10)
print('Sou seu computadaor ... acabei de pensar em um número entre 0 e 10.')
print('Será que você consegue adivinhar qual foi? ')
acertou = False
palpite = 0
while not acertou:
  jogador = int (input('Qual é o seu palpite? '))
  palpite += 1
  if jogador == computador:
    acertou = True
  else:
    if jogador < computador:
      print('Mais...Tente mais uma vez.')
    elif jogador > computador: 
      print('Menos... Tente mais uma vez')
print('Acertou! Com {} palpites'.format(palpite))

Sou seu computadaor ... acabei de pensar em um número entre 0 e 10.
Será que você consegue adivinhar qual foi?
Qual é o seu palpite? 1
Mais...Tente mais uma vez.
Qual é o seu palpite? 2
Mais...Tente mais uma vez.
Qual é o seu palpite? 3
Mais...Tente mais uma vez.
Qual é o seu palpite? 10
Menos... Tente mais uma vez
Qual é o seu palpite? 6
Mais...Tente mais uma vez.
Qual é o seu palpite? 7
Mais...Tente mais uma vez.
Qual é o seu palpite? 8
Acertou! Com 7 palpites